extends layout
include templates/navbar

mixin customer(c)
  tr
    td #{c.CodCliente}
    td #{c.NomeCliente}
    td #{c.Morada}
    td #{c.NumContribuinte}
    td #{c.Moeda}
    td
      +actions(c.CodCliente)

mixin actions(customer)
  a.btn.btn-xs.btn-primary(href='/sales/' + customer, role='button' data-toggle='tooltip' data-placement='bottom' title='Orders')
    span.glyphicon.glyphicon-list-alt(aria-hidden='true')

block content
  +nav(title, level)
  div.container
    .content-wrapper
      h1= title
      table.datatable.table.table-stripped.table-bordered
        thead
          tr
            th Code
            th Name
            th Address
            th Tax ID
            th Currency
            th Action
        tbody
          each val in customers
            +customer(val)
