extends layout
include templates/navbar

mixin linha(s)
  tr
    td #{s.CodArtigo}
    td #{s.DescArtigo}
    td #{s.DataEntrega}
    td #{s.Unidade}
    td #{s.Quantidade}
    td #{s.PrecoUnitario}
    td #{s.Desconto}
    td #{(s.PrecoUnitario - s.Desconto) * s.Quantidade}
    td
      +actions(s.CodArtigo)

mixin actions(cod)
  a(id='#{cod}' name='addButton' href='#', onclick='addToShoppingCart(#{order.NumDoc}, "#{cod}"); $(\'\##{cod}\').hide(); return false;')
    span.glyphicon.glyphicon-plus(aria-hidden="true")

block content
  script(src='/js/items.js')
  +nav(title, level)
  div.container
    .content-wrapper
      h1= title
      br
      p
        b Customer
        | : #{order.Entidade}
      p
        b Shipping Address
        | : #{customer.Morada}
      p
        b Date
        | : #{order.Data}
      p
        b Total
        | : #{customer.Moeda} #{order.TotalMerc}
      table.datatable.table.table-stripped.table-bordered
        thead
          tr
            th Code
            th Description
            th Shipping Date
            th Unit
            th Quantity
            th Price
            th Discount
            th Total
            th Actions
        tbody
          each val in order.LinhasDoc
            +linha(val)
