extends layout
include templates/navbar

mixin showItem(i)
  tr
    td.item-id #{i.item}
    td #{i.warehouse}
    td #{i.floor}
    td #{i.corridor}
    td #{i.section}
    td #{i.lot}
    td #{i.needed}
    td.order-id #{i.order}
    td.action
      button.btn.btn-xs.btn-success.btn-done-picking-item(href="#") 
        span.glyphicon.glyphicon-ok
        span.btn-text Done

block content
  +nav(title, level)
  div.container
    .content-wrapper
      h1= title
      br
      table#routePickingTable.table.table-stripped.table-bordered
        thead
          tr
            th Item
            th Warehouse
            th Floor
            th Corridor
            th Section
            th Lot
            th Quantity
            th Order Code
            th Action
        tbody(id='pickingTable')
          each item in route.objects
            +showItem(item)
      button.btn.btn-success.btn-confirm-picking(href="#" disabled="") 
        span.glyphicon.glyphicon-ok(aria-hidden='true')
        span.btn-text Confirm

  div#pickingConfirm.modal.fade(tabindex="-1" role="dialog")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close") 
            span(aria-hidden="true") &times; 
          h4.modal-title Picking route
          input#accessLevelNum(type="hidden")
          input#accessUserId(type="hidden")

        div.modal-body
          span Are you sure you're done with this picking route?
        div.modal-footer
          button.btn.btn-danger(type="button" data-dismiss="modal") No
          button#btnConfirmPicking.btn.btn-success(type="button" data-dismiss="modal") Yes
  script(src='/js/picking.js')

