extends layout
include templates/navbar
script(src='/js/picking.js')

mixin showItem(i)
  tr
    td #{i.item}
    td #{i.warehouse}
    td #{i.floor}
    td #{i.corridor}
    td #{i.section}
    td #{i.lot}
    td #{i.needed}
    td #{i.order}
    td
      a.btn.btn-xs.btn-danger(href="#") Remove

block content
  +nav(title, level)
  div.container
    .content-wrapper
      h1= title
      br
      table.table.table-stripped.table-bordered
        thead
          tr
            th Item
            th Warehouse
            th Floor
            th Corridor
            th Section
            th Lot
            th Quantity
            th Order Code
            th Action
        tbody(id='pickingTable')
          each item in route.objects
            +showItem(item)
