extends layout
include templates/navbar

mixin user(u)
	tr(data-toggle="collapse", data-target=s, class="accordion-toggle")
		td.hidden.idColumn #{u._id}
		td.usernameColumn #{u.username}
		td #{u.name}
		td #{u.surname}
		td 
			select.select-control.user-level-control
				each l in levels
					if (l.code == u.role.code)
						option(value="#{l.code}" selected="") #{l.name}
					else
						option(value="#{l.code}") #{l.name}

block content
	script(src='/js/users.js')
	+nav(title, level)
	div.container
		.content-wrapper
			h1= title
			table.datatable.table.table-stripped.table-bordered
				thead
					tr
						th.hidden
						th Username
						th Name
						th Surname
						th Access level
				tbody
					each user in users
						+user(user)
			#btnCreateUser.btn.btn-success(href="#") 
				span.glyphicon.glyphicon-plus(aria-hidden='true')
				span.btn-text Create New User

	div#changeLevelConfirm.modal.fade(tabindex="-1" role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close") 
						span(aria-hidden="true") &times; 
					h4.modal-title Access level
					input#accessLevelNum(type="hidden")
					input#accessUserId(type="hidden")
					input#accessLevelName(type="hidden")

				div.modal-body
					span Are you sure that you want to give access level 
					b.access-level 
					span  to the user 
					b.access-user 
					span ?
				div.modal-footer
					button.btn.btn-danger(type="button" data-dismiss="modal") No
					button.btn.btn-success(type="button" data-dismiss="modal") Yes

	div#newUserModal.modal.fade(tabindex="-1" role="dialog")
		div.modal-dialog
			div.modal-content
				form#newUserForm
					div.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Close") 
							span(aria-hidden="true") &times; 
						h4.modal-title New user
					div.modal-body
						label.input-group(for="userName") Username:
						input#userName.form-control(type="text" required="")

						label.input-group(for="password") Password:
						input#password.form-control(type="password" required="")
						
						label.input-group(for="level") Access level:
						select#level.select-control(required="")
							each l in levels
								option(value="#{l.code}") #{l.name}

						label.input-group(for="name") Name:
						input#name.form-control(type="text" required="")
						
						label.input-group(for="surname") Surname:
						input#surname.form-control(type="text" required="")
						
					div.modal-footer
						button.btn.btn-danger(type="button" data-dismiss="modal") Cancel
						button#btnConfirmNewUser.btn.btn-success(type="submit") Create

