extends layout
include templates/navbar

block content
	script(src='/js/user.js')
	+nav(title, level)
	div.container
		.content-wrapper
			h1= title
			br
			br
			form#userInfo
				input#userId(type="hidden" value="#{user._id}")
				
				label.input-group(for="userName") Username:
				input#userName.form-control(type="text" value="#{user.username}" disabled="")
				
				label.input-group(for="name") Name:
				input#name.form-control(type="text" value="#{user.name}")
				
				label.input-group(for="surname") Surname:
				input#surname.form-control(type="text" value="#{user.surname}")
				
				input#saveChangesBtn.btn.btn-success(type="button" value="Save Changes")
	
	div#changeLevelConfirm.modal.fade(tabindex="-1" role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close") 
						span(aria-hidden="true") &times; 
					h4.modal-title Access level
					input#accessLevelNum(type="hidden")
					input#accessUserId(type="hidden")

				div.modal-body
					span Are you sure that you want to give access level 
					b.access-level 
					span  to the user 
					b.access-user 
					span ?
				div.modal-footer
					button.btn.btn-danger(type="button" data-dismiss="modal") No
					button.btn.btn-success(type="button" data-dismiss="modal") Yes

