extends layout
include templates/navbar

mixin user(u)
	tr(data-toggle="collapse", data-target=s, class="accordion-toggle")
		td.hidden.idColumn #{u._id}
		td.usernameColumn #{u.username}
		td #{u.name}
		td #{u.surname}
		td 
			select.select-control.user-level-control
				each l in levels
					if (l.level == u.level)
						option(value="#{l.level}" selected="") #{l.name}
					else
						option(value="#{l.level}") #{l.name}

block content
	script(src='/js/users.js')
	+nav(title, level)
	div.container
		.content-wrapper
			h1= title
			table.datatable.table.table-stripped.table-bordered
				thead
					tr
						th.hidden
						th Username
						th Name
						th Surname
						th Access level
				tbody
					each user in users
						+user(user)
	
	div#changeLevelConfirm.modal.fade(tabindex="-1" role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close") 
						span(aria-hidden="true") &times; 
					h4.modal-title Access level
					input#accessLevelNum(type="hidden")
					input#accessUserId(type="hidden")

				div.modal-body
					span Are you sure that you want to give access level 
					b.access-level 
					span  to the user 
					b.access-user 
					span ?
				div.modal-footer
					button.btn.btn-danger(type="button" data-dismiss="modal") No
					button.btn.btn-success(type="button" data-dismiss="modal") Yes

